html,
body,
#root,
.App {
  background-color: rgb(119, 161, 138);
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.card {
  margin: 20px auto;
  width: 400px;
  height: 400px;
  border-radius: 30%;
  background-color: blanchedalmond;
}

.card img {
  width: 250px;
  height: 250px;
}
